
/* reset default styles*/
body,
p,
a,
ul,
li,
h2,
h1 {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}
/* base styles */
body {
    color: white;
    background: black;
    overflow-x: hidden;
}

body,
html {
    margin: 0;
    height: 100%;
}
@font-face {
    font-family: "Circularsp-bold";
    src: url("fonts/CircularSp-Bold2.woff2");
}

@font-face {
    font-family: "Circularsp-title";
    src: url("fonts/CircularSpTitle-Bold-3.woff2");
}

@font-face {
    font-family: "Circularsp-norm";
    src: url("fonts/CircularSp-Book-norm1.woff2");
}
* {
    font-family: "CircularSp-norm" !important;
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 400;
}
body::-webkit-scrollbar {
    display: none;
}

.alldiv{
    display: flex;
    margin: 0;
    /* background-color: aquamarine; */
}
.main{
    display: flex;
    flex: 1;
    height: 91%;
    padding: 8px;
    padding-bottom: 0;
    /* background-color: aqua; */
}
/* sidebar starts */
.side-bar{
    background-color: black;
    height: 100%;
    min-width: 200px;
    width: 100%;
    max-width: 310px;
    display: flex;
    flex-flow: column;
    gap: 8px;
    padding-right: 8px;
    
}
.menu{
    display: flex;
    flex-flow: column;
    border-radius: 8px;
    color: #b3b3b3;
    height: 157px;
    background-color: #121212;
    /* justify-content: center; */
    cursor: pointer;
}
/* .manu>div{
    height: 46px;
} */
.menu .logo img{
    width:102px;
    height: 45px;
    padding: 10px ;
    cursor: pointer;
}
.menu-item{
    display: flex;
}

.menu-item ul{
    list-style: none;
    align-items: center;
    /* display: inline; */
    /* padding: 8px 12px; */
}
.menu-item ul li{
    padding: 10px 20px;
}
.menu-item ul li span{
    margin-top: 20px;
}
.menu-item .image img{
    margin-top: -10px;
} 
.home  img{
     width: 25px; 
     height: 100%;
     padding: 10 px;
     /* margin-left:22px; */
}
 /* .home span{
    margin-top: 200px;
    font-size: 16px;
} */
.search img{
    width: 24px;
    height: 24px;
    /* margin-left: 20px; */
    margin-top: 50px;
    min-width: 24px;
}
.side-main{
    display: flex;
    flex-flow: column;
    color: #b3b3b3;
    height: 740px;
    background-color: #121212;
    /* padding: 2px; */
    border-radius: 8px;
    
}
footer{
    /* padding: 0 0px  10px; */
    /* border-radius: 25px; */
}
.preview{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ae2896, #509bf5);
   
    /* flex-direction: column; */
    bottom:0;
    left:0;
    right:0;
    padding:  10px 10px ;
    height:45px;
    margin-top: 8px;
    margin-left: 10px;
    /* border-radius: 25px; */
}
.preview .text{
    margin-top: -20px;
}
.preview h4{
    font-size:13px ;
    font-weight: 600;
    margin-bottom:05px;
    color:#fff;
    padding: 5px 0  0 5px;
}
.preview p{
font-size: 16px;
font-weight: 400;
color: #fff;
padding: 0px 0  5px   5px;
}
.preview button{
    padding: 12px 30px;
    border:0;
    outline:0;
    border-radius: 20px;
    font-size: 14px;
    font-weight:600;
    color: #000;
   /* width: 100px; */
}
.side-main{
    display: flex;
}

.h-left{
    display: flex;
    max-width: 126.5px;
    min-width: 2px;
    margin-top: 16px;
    padding: 0px 0  0 24px;
    justify-content: space-between;

}
.side-main .h-left img{
    width: 24px;
    /* padding: 15px 0  0 24px; */
}

.text span{
    font-size: 16px;
    font-family: "Circularsp-norm"!important;
    font-weight: 700;
    line-height:1.5;
}
/* .h-right img{
 width: 14px;
 margin-left: 280px;
 /* margin-bottom:500px; */
 /* margin-bottom: ; */
/* } */ 
.head-cont button{
    background-color: transparent;
    border: none;
    margin-left: 280px;
    margin-top: -100px;
}
.head-cont button img{
    width: 14px;
    margin-top: -50px;
}
.inside{
    /* background-color: #b3b3b3; */
    display: flex;
    flex-flow: column;
    padding:3px 0px 0px 8px ;
    

}
.inside .playlist{
    display: flex;
    color: #fff;
    background-color:#242424 ;
    width:273.5px;
    height: 135px;
    flex-flow: column;
    /* justify-content: s; */
    padding: 0 0 0 20px;
    border-radius: 8px;

}
.playlist .disc{
    display: flex;
    flex-flow: column;

}
.disc h4{
    font-family: "Circularsp-norm"!important;
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
}
.disc p{
    display: flex;
    margin-top: -12px;
    font-family: "Circularsp-norm"!important;
    font-size:13px ;
    font-weight: 400;
     /* max-width: 145px;
     min-width: 144px; */
    
}
.button button{
    cursor: pointer;
    margin-top: 22px;
    /* margin-left: -2px; */
    width: 128px;
    border: none;
    border-radius: 25px;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Circularsp-norm"!important;
}
.prodcast{
    display: flex;
    color: #fff;
    background-color:#242424 ;
    width:273.5px;
    height: 152px;
    flex-flow: column;
    /* justify-content: s; */
    padding: 0 0 0 20px;
    border-radius: 8px;
    margin-top: 23px;

}
.prodcast p{
    display: flex;
    justify-content: space-between;
    max-width: 248.5px;
    min-width: 240px;
    font-size: 14px;
    font-family: "Circularsp-norm"!important;
    font-weight: 400;
}
.button2 button{
    cursor: pointer;
    margin-top: 20px;
    /* margin-left: -2px; */
    width: 143px;
    border: none;
    border-radius: 25px;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Circularsp-norm"!important;
}
.side-bottom {
    display: flex;
    flex-flow: column;
    margin-top: 200px;
    color: #b3b3b3;
}
.content{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    margin: 10px;
}
.content ul li{
    margin: 0 6px;
}
.content ul li a{
    color: #b3b3b3;
    /* background-color: #509bf5; */
    margin: 10px 6px;
    padding: 15px 0 0 0;
    line-height: 5px;
}
.eng-btn{
    display: flex;
    

}
.eng-btn button{
    display: flex;
    justify-content: center;
    width:92px;
    background: transparent;
    border: 1px solid  #727272;
    color: #fff;
    border-radius: 20px;
    height: 30px;
    padding: 2.5px;
    margin: 0 5;
    margin-left: 20px;
    justify-content: center;
    gap:5px;
    margin-top: 25px;
}
.eng-btn button img{
    width:17px; 
}