*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background: #000;
    font-family: Arial, Helvetica, sans-serif ; 
}
@font-face {
    font-family: "Text-bold";
    src: url("fonts/title-bold.woff2");
}

@font-face {
    font-family: "Text-medium";
    src: url("fonts/Circular-boldCircularSp-Bold-9bbc461.woff2");
}

@font-face {
    font-family: "Text-regular";
    src: url("assets/fonts/text.woff2");
}
.sidebar{
   width:332px;
   height:0 ;
   background: #000;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   padding:10px;;  
}
.sidebar-nav{
    background: #141414;  
    border-radius:10px;
    /* height: 10p; */
    padding:20px 10px;
    margin-bottom:10px;
    height: 170px;
}
 .logo{
    width:120px;
}
.logo img{
        width:100%;
}
.sidebar-nav ul{
    list-style: none;
}
.sidebar-nav ul li{
    padding:10px 20px;
    font-family: "Text-medium" !important ;
}

.sidebar-nav ul li a:hover{
   color:#ffff;
}
.sidebar-nav ul li a{
   text-decoration:none;
   color: #b3b3b3;
   font-size: 16px;
   font-weight:600;
} 
.sidebar-nav ul li a i{
    font-size: 20px;
    margin-right:10px;
}
/* 27 */
.sidebar-box2{
   /* background-color: #1db954; */
   width: 340p;
   height:800px ;
   background: #141414;
}
.sidebar-box2 .library{
    background: #141414 ;
    margin-top:10px;
    position: relative;
}
.library i{
    margin-left: 20px;
    margin-top: 20px;
}
.library span{
    color: #a7a7a7;
    text-decoration: none;
    margin:50px 3px;
   
}
/* 27 */
.library::after{
  content:  '+';
  float: right;
  text-align:center;
  /* background:#1f1e1e;
  padding:5px; */
  border-radius: 50%;
  font-size:15;
}
.sidebar-scroll{
    /* margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px; */
    margin: 30px 10px;
}
.create-playlist{
    background: #242323;
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 140px;
   
}
/* .sidebar-scroll{
    height:120px;
    overflow: auto ;
} */
/* .sidebar-scroll::-webkit-scrollbar{
   background:transparent ;
  
}  */
/* day7 */

/* .sidebar-scroll:hover::-webkit-scrollbar-thumb{
    background: transparent;
    width: 10px;
}
.sidebar-scroll:hover::-webkit-scrollbar-thumb{
    background: #5c5b5b;
    width:5px;
} */
.create-playlist h4{
    color:#ffff;
    font-size:15px;
}
.create-playlist p{
    color: #ffff;
    font-size: 12px;
    margin:12px 0;
}
.create-playlist button{
    padding: 8px 15px;
    border:0;
    outline:0;
    border-radius:20px;
    font-weight:600;
    margin-bottom:10px;
}
.privacy ul li a{
    text-decoration: none;
    color:#818080;
    font-size: 11px;
    font-weight: 600;
    margin: 0 6px;
}
.privacy ul li a:hover{
    text-decoration: underline;
    color:#bebcbc ;
}
.privacy ul{
    list-style: none;
    margin-top: 10px;
}
.privacy ul li{
    padding: 0 12px;
    padding-bottom: 8px;

}
.eng-btn{
    padding: 20px 30px;
}
.eng-btn button{
    padding:10px 30px;
    background: transparent;
    border:0;
    outline:none;
    color:#ffffff;
    border:1px solid #818080;
    border-radius: 20px;
    margin:10px 0;
}
.eng-btn button:hover{
   padding: 11px 31px;
   border:1px solid #ffff;
}
.main{
    margin-left:300px;
    background:#000000;
    height:200vh;
    overflow: auto;
    margin-bottom: 80px; 
    margin-left: 330px; 
    margin-top: 8px;
    border-radius: 10px;
    width:1515px
}
.main .top{
    margin-left: 0px;
    background-color: #141414;
    height:7vh;
}
.main::-webkit-scrollbar{
    background:transparent ;
   
 } 
 .main:hover::-webkit-scrollbar-thumb{
     background: transparent;
     width: 10px;
 }
 .main:hover::-webkit-scrollbar-thumb{
     background: #5c5b5b;
     width:5px;
 }
.main.top-nav{
    padding: 0px;
    background:#1b1b1b;
    display: flex;
    align-items:center;
   justify-content: space-between;
 
}
.main .top-nav  button{
    background: transparent;
    border: 0;
    outline: 0;
    margin-left:20px;
    margin-top: 20px;
    margin-bottom: -100px;
}
 /* main */
.main .top-nav .prev-btn button i{
    color:#837878;
    font-size: 22px;
    margin-right:20px;
}
.top-nav .login-btn{
    margin-top: -50px;
}
.top-nav .login-btn .sign-up{
    color: #837878;
    font-size: 16px;
    font-weight: 600;
    margin-right:20px;
    margin-left: 1300px;
     margin-top:-1000px;
     background-color: #141414;
}
.top-nav .login-btn .sign-up:hover{
    color: #ffffff;
}
.top-nav .login-btn .login{
  color: #837878 ;
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  padding:10px 15px;
  border-radius:20px ;
}
.top-nav .login-btn .login:hover{
    background: #818080;
}
/* 27/05 */
.main-sec{
    padding:20px 12px;
    margin-left: 0px;
    margin: 0;
    width:100%;
    height:200vh ;
    background-color: #292828;
    border-radius: 10px;
}

.main-sec .artist h2{
    /* background-color: #000000; */
    color: #ffffff;
    font-size: 22px;
    margin-top: 10px;
}
.artist .pop-art{
    display: flex;
    gap:px; 
    overflow:hidden;
}
.artist .art{
    width:100%;
    
    /* min-width: 140px; */
    background-color:#292828 ;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;
}
.artist .art img{
    width:185px;
    border-radius:100px;
    margin-bottom: 10px;
}
.artist .art .artists{
    margin-top:px;
    width:180px;
    height:190px;
    border-radius:100%;
    
}
.artist .art:hover{
background-color: #353434;
}

.artist .art{
    color: #8f8e8e;
    font-size: 13px;
    /* margin:10x; */
}
.artist .pop-art .art p:hover{
    text-decoration: underline;
    }
.artist .play-btn{
    position: relative;
    color: #000;
    width:   ;
}
.artist .play-btn i{
    position: absolute;
    background: #1db954;
    border-radius: 50%;
    padding:18px ;
    right:6px ;
    top:-75px;
    opacity: 0;
    transform: 0.3s ease all;
}
.artist .pop-art .art:hover .play-btn i{
    opacity:1 ;
    /* background-color: #000000; */
}
   
/* 27 end */
.spotify-playlist{
    padding: 20px 0px;
}
.spotify-playlist h2{
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}
.spotify-playlist .card{
    display: flex;
    gap:0px; 
    overflow:hidden;
}
.spotify-playlist .card .item { 
    width:170%;
    min-width: 140px;
    /* background-color:#222121 ; */
    cursor: pointer;
    border-radius: 6px;
    padding: 9px;
}
.spotify-playlist .card .item:hover{
  background-color: #353434;
}
.spotify-playlist .card .item img{
    width:100%;
    border-radius: 6px;
    margin-bottom: 10px;
}
.spotify-playlist .item h4{
    color: #ffffff;
}
.spotify-playlist .card .item p{
    color: #8f8e8e;
    font-size: 13px;
    margin:10x;
}
.spotify-playlist .card .item p:hover{
   text-decoration: underline;
}
.spotify-playlist .play-btn {
    position: relative;
}
.spotify-playlist .play-btn i{
    position: absolute;
    background:#1db954 ;
    border-radius: 50%;
    padding: 14px;
    right:8px;
    top: -65px;
    opacity: 0;
    transform: 0.3s ease all;
}
.spotify-playlist .card .item:hover .play-btn i{
      opacity: 1;
      /* transform: translateY(-20px); */
}
/* 27 */
.featured {
   padding: 20px 0px; 
}
.featured h2{
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}
.featured .cards{
    display: flex;
    gap:10px; 
    overflow:hidden;
}
 .featured .cards .items{
    width:210px;
    min-width: 140px;
    /* background-color:#222121 ; */
    cursor: pointer;
    border-radius: 6px;
    padding: 5px;
}
.featured .cards .items img{
    width:100%;
    border-radius: 6px;
    margin-bottom: 10px;
}
.cards .items h4{
    color: #ffffff;
}
.cards .items p{
    color: #8f8e8e;
    font-size: 13px;
    margin:10x;
}
/* footer */
.footer-section{
    padding: 20px 40px;
}
.footer-section .footer {
    display: flex;
    justify-content: space-between;
    margin-top:40px;
}
.footer-section .footer .footer-links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-section .footer .footer-links .footer-coloumn{
    margin: 0 12px;
}
.footer-section .footer .footer-links  div{
    color: #fff;
    font-weight:600;
    margin-bottom: none;
    font-size: 6px 0;
}
.footer-section .footer .footer-links ul li {
    list-style:none;
    margin:6px 0;
}
.footer-section .footer .footer-links ul li a{
    text-decoration: none;
    color: #969393;
    font-size:14px;
    cursor:pointer;
}
.footer-section .footer .footer-links ul li a :hover{
    text-decoration: underline;
    color:#fff
}
.footer .social-links i{
    color: #ffff;
    background: #353434;
    padding:12px;
    border-radius:50%;
    margin: 0 5px ;
    cursor: pointer;
}
.footer .social-links i:hover{
    background: #636262;

}
hr{
    margin:20px 40px;
    border:0;
    outline: 0;
    border: 1px solid #575657;
    margin-top: 40px;
}
.copyright{
    padding: 0;
    color:#969393;
    font-size: 15px;
    margin-bottom: 30px;
}
.preview{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ae2896, #509bf5);
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    padding: 12px 40px;
}

.preview h4{
    font-size:13px ;
    font-weight: 600;
    margin-bottom:10px;
    color:#fff
}
.preview p{
font-size: 16px;
font-weight: 400;
color: #fff;
}
.preview button{
    padding: 12px 30px;
    border:0;
    outline:0;
    border-radius: 20px;
    font-size: 14px;
    font-weight:600;
    color: #000;
}